.jfx-button {
     -fx-background-color: F5F5F7;
     -fx-text-fill: grey;
     -fx-color: 070707;
     -fx-font-size:  16px; //字体大小
     -fx-background-radius: 0;//圆角半径
}

#user_icon{
    -fx-background-radius: 50%;
}

#buttomPane{
  -fx-background-color:F5F5F7;
}

#userPane{
 -fx-background-color: #ee5253;
}

#hbox{
 -fx-background-color:F5F5F7;
}
#modify{
 -fx-font-size:  1px; //字体大小
  -fx-background-radius: 50%;//圆角半径
}
#image{
-fx-font-size:  5px;
-fx-background-radius:100;
-fx-background-color:red;
}
#aboutus{
 -fx-font-size:  10px; //字体大小
}
#setup{
    //-fx-font-size:  10px; //字体大小
    -fx-background-image: url("resources/setting.png");
    //-fx-background-radius: 50%;//圆角半径
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    //-fx-background-color:red;
}

#signout{
-fx-background-radius:100;
  -fx-font-size:  5px;
   -fx-background-color:#A9A9A9;
}