.jfx-button {
     -fx-background-color:F5F5F7;
     -fx-text-fill: CECED0;
      -fx-font-size:  20px; //字体大小
      -fx-background-radius: 0;//圆角半径

}


#userPane{
 -fx-background-color: #ee5253;
}

#image{
-fx-font-size:  5px;
-fx-background-radius:100;
-fx-background-color:red;

}

#signout{
-fx-background-radius:100;
  -fx-font-size:  5px;
   -fx-background-color:#A9A9A9;
}