

// 这里开始是bar的设置

#mainBar{//这个是顶部导航栏
    -fx-background-color: #274c5e;
}

#searchBox{//搜索栏的框
    -fx-background-color:#F8F8FF;
    -fx-background-radius:25;
}

.jfx-hamburger StackPane {//打开抽屉的东西hamburger
    -fx-background-color: #FFFAFA ;
     -fx-background-radius : 10px;
}

#searchtext{//搜索框的文本输入
    -fx-text-fill: #080808;
}

//这里开始是抽屉
.jfx-button {
     -fx-font-family:"Microsoft YaHei Light";
     -fx-background-color: F5F5F7;
     -fx-text-fill:  #080808;
     -fx-font-size:  16px; //字体大小
     -fx-background-radius:0;
}
#likebutton{
     -fx-font-family:"Microsoft YaHei Light"  ;
     -fx-text-fill: #080808;
}

#user_icon{
    -fx-background-radius: 50%;
}

#sign_out{//退出按钮
    -fx-background-radius:100;
    -fx-font-size:  1px;
    -fx-background-color:#A9A9A9;
}

#usepaneTop{//用户设置的那个平面，上面那个单独一个颜色的
    -fx-background-color: #7f9eb2;
}

#userPane{//用户设置的那个平面，放石原里美头像的那个
    -fx-background-color: #77919d;
}

#buttompane{//底下那个最没用的，放关于我们的那个平面
    -fx-background-color: F5F5F7;
}

#hbox{//放夜间模式的box
    -fx-background-color:F5F5F7;
}

#modify{
     -fx-font-family:"Microsoft YaHei Light"  ;
    -fx-font-size:  1px; //字体大小
    -fx-background-radius: 50%;//圆角半径
}


//这是确认修改的button，比如在修改信息时候的那个
.surebutton{
     -fx-font-family:"Microsoft YaHei Light"  ;
    -fx-background-color:#77919d; //按钮颜色
    -fx-text-fill: white; //字体颜色
    -fx-font-size:  16px;  //字体大小
    -fx-background-radius: 5;
}

#checkbutton{
    -fx-font-family:"Microsoft YaHei Light"  ;
    -fx-background-color:#77919d; //按钮颜色
    -fx-text-fill: white; //字体颜色
    -fx-font-size:  12px;  //字体大小
    -fx-background-radius: 5;
}
.workshop{
 -fx-font-family:"Microsoft YaHei Light"  ;
   -fx-text-fill: white;
    -fx-font-size: 12px;
}

//对于设置界面
.huiyuanitem{//付款界面的小标签
     -fx-font-family:"Microsoft YaHei Light"  ;
    -fx-background-color: #77919d;
    -fx-font-color: #000000;
    -fx-background-radius: 100;
}

#payway{//付款方式的标签
     -fx-font-family:"Microsoft YaHei Light"  ;
    -fx-font-size: 16px;
}

#chosefile{
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-background-color: 	#77919d;
    -fx-background-radius: 5;
}

.themelabel{
    -fx-font-size: 13px;
    -fx-text-fill:black;
}

//对于所有的东西


//这个对所有的label设置，后面可以统一设置字体，大小就不统一设置了
.label{
    -fx-font-family:"Microsoft YaHei Light"  ;
    -fx-text-align: center;
}

.jfx.list.cell  .jfx-rippler{
    -fx-rippler-fill: RED;
}
.jfx-list-cell: hover{
    -fx-background-color: #77919d;
}

#musictitle{
 -fx-font-family:"Webdings";
 -fx-font-size:40px;
}
.musicbutton{
    -fx-background-radius:50%;
    -fx-background-color:#77919d;
    -fx-text-fill:white;
}

.bigtitle{//设置界面的title
    -fx-font-size:35px;
    -fx-font-family:"Webdings";
}
